target/
!.mvn/wrapper/maven-wrapper.jar

### data ###
mysql-data/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
data/
mvnw
*.cmd
*.jar
.mvn/
data/
*.stackdump

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/
### Java template
# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*


#package

#kdiff3
*.orig

#target


#eclipse file
.settings/
.project/


#idea
.idea/
/idea/



#temp file
*.cache
*.diff
*.patch
*.temp

#system file
.DS_Store
Thumbs.db
